@import "tailwindcss";

@theme{
  --color-exacto-blue:#08182f;
  --color-exacto-gold:#c48931;
  --color-exacto-lightBg:f8f9fa;
  --color-exacto-textDark:#1f2937;
  --color-exacto-textMuted:#4b5563;
}

body{
  background-color: #ffffff;
  color:var(--color-exacto-textDark);
}